
.right-div {
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: linear-gradient(180deg, #44240e 0%, #9e5300 100%);
    padding: 20px;
    border-radius: 10px;
}

.header-square {
    background-color: #e0481c;
    padding: 0 10px;
    font-weight: bold;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
}

.header-info h1 {
    font-size: 2.5rem;
    color: #d67049;
}

.header-info h2 {
    font-size: 2rem;
    color: white;
}

.header-info p {
    font-size: 1rem;
    color: #b3b3b3;
}

.spotify {
    color: #b3b3b3;
    font-size: 0.9rem;
}

.playlist {
    margin-top: 20px;
}

.table-header {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 0.5fr;
    padding: 10px 0;
    border-bottom: 1px solid #404040;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.song {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 0.5fr;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #404040;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info-p{
    margin: 0;
    cursor: pointer;
}

.song-info img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

    .song-info p {
        font-size: 1rem;
        color: white; /* Màu tiêu đề bài hát */
    }

    .song-info .artist {
        font-size: 0.9rem;
        color: #b3b3b3; /* Màu tên nghệ sĩ */
    }

.song-playcount, .song-album, .song-time {
    font-size: 0.9rem;
    color: #b3b3b3; /* Màu thông tin album và thời gian */
}

.song .fas.fa-play {
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

    .song .fas.fa-play:hover {
        color: #1DB954;
    }

.song-list{
    padding: 0;
}

.play-btn {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .play-btn:hover {
        background-color: transparent;
        color: #1DB954;
    }

    .play-btn i {
        margin-right: 5px;
    }





#music-control-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
.music-control{
    display: flex;
    align-items: center;
    gap: 12px;
}

.music-control button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.song-details {
    display: flex;
    align-items: center;
    width: 332px;
}

    .song-details img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

.song-duration {
    margin-left: auto;
    padding-right: 10px;
}



.volume-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

#mute-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#volume-slider {
    width: 100px;
}
