/* BASIC */

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #bbbbbb;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}



/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #151415;
    color: white;
    row-gap: normal;
    padding-bottom: 32px;
}

.fadeIn {
    border-bottom: none;
    padding-top: 32px;
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jIWbvU {
    list-style: none;
    padding: 0px;
    text-indent: 0px;
    display: flex;
    flex-direction: column;
    width: 324px;
    margin: 0px auto;
    row-gap: normal;
    color: rgb(255, 255, 255);
}
.itDfMP {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}

.google-login {
    margin-bottom: 8px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    position: relative;
    border: 1px solid #818181;
    color: #ffffff;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
    font-weight: 700;
    padding-block-start: calc(8px - 1px);
    padding-block-end: calc(8px - 1px);
    padding-inline-start: calc(32px - 1px);
    padding-inline-end: calc(32px - 1px);
    display: flex;
    border-radius: 50px;
    height: 46px
}

.blvHhQ {
    width: 1.5rem;
    height: 1.5rem;
}

.encore-text {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    text-transform: none;
    letter-spacing: normal;
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-weight: 700;
}

.gWxmho {
    margin: 22px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}
.login-form {
    width: 324px;
    margin: 0px auto;
    padding-bottom: 0px;
    padding-block-end: 24px;
}
.resgin-form {
    margin: 0px 40px;
    padding-bottom: 0px;
    padding-block-end: 24px;
}
.dONESo {
    padding-bottom: 8px;
}
.bSfdyE {
    text-align: left;
    /*padding-bottom: 16px;*/
    /*padding-block-end: 24px;*/
}
.bGmVWE {
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
}
.form-control {
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
    inline-size: 100%;
    border: 1px solid;
    display: block;
    background-color: #121212;
    border-radius: 4px;
    padding-inline-start: 12px;
    margin-top: 8px;
    height: 48px
}
#formContent {
    border-radius: 10px 10px 10px 10px;
    background-color: #121212;
    color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    position: relative;
    padding: 0px;
    text-align: center;
}

.titleLarge {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
    font-weight: 700;
}

.login-button {
    color: #000000;
    background-color: #1ed760;
    border-radius: 9999px;
    min-block-size: 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

.res-button {
    color: #000000;
    background-color: #1ed760;
    border-radius: 9999px;
    min-block-size: 48px;
    width: 33%;
    font-size: 16px;
    font-weight: 700;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}
.underlineHover {
    display: inline;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}
/*

.titleLarge {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
    font-family: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, --fallback-fonts, sans-serif;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background-color: #121212;
    color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}*/
/* TABS */
/*
h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #9747FF;
}*/
/* FORM TYPOGRAPHY*/
/*input[type=button], input[type=submit], input[type=reset] {
    background-color: #9747FF;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #9747FF;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #9747FF;
    }

    input[type=text]:placeholder {
        color: #cccccc;
    }

input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=password]:focus {
        background-color: #fff;
        border-bottom: 2px solid #9747FF;
    }

    input[type=password]:placeholder {
        color: #cccccc;
    }


.custom-select {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.custom-select:focus {
    background-color: #fff;
    border-bottom: 2px solid #9747FF;
}

input[type=date] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=date]:focus {
        background-color: #fff;
        border-bottom: 2px solid #9747FF;
    }

    input[type=date]:placeholder {
        color: #cccccc;
    }*/
/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #9747FF;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #1ed760;
    text-decoration: underline;
}

    .underlineHover:hover:after {
        /*width: 100%;*/
    }



/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}
