@{
    ViewData["Title"] = "Giới Thiệu";
}
<title> Dotie Shoes - About</title>
<head>
    <link rel="stylesheet" href="/Assets/Website/Css/About.css">
    <link rel="stylesheet" href="/Assets/Website/Css/EXPLORER.css">
</head>
<div class="Head-Seach">
    <p><a class="Head_Seach_0" href="#"> Home </a><a class="Head_Seach_0" href=""> / </a><a class="Head_Seach_0" href="">About</a></p>
</div>
<div class="Content">
    <div class="Content-right">
        <div class="affix">
            <p> Nổi Bật</p>
        </div>
        <div class="accordion">
            <div class="active-img">
                <img class="img" src="~/Album/BoCuc/C70-Seasonal_eComm_AssetsC70-Seasonal_eComm_WB_v3_1.gif" />
            </div>
        </div>
        <div class="card-body">
            <div class="img-hide">
                <img src="~/Album/BoCuc/476c5b15847dc409592c19c1068f476e.jpg" style="width:100%" />
            </div>
            <div class="active-font">
                <p class="active-font-p">
                    Sneaker là gì?
                </p>
                <p class="active-font-ppp">
                    29 Tháng Mười, 2022
                </p>
                <p class="active-font-pp">Sneaker là một thuật ngữ được sử dụng để chỉ những đôi giày có kết cấu phổ biến gồm hai phần:<br /> phần đế giày làm từ chất liệu cao su hoặc một số chất liệu tổng hợp khác,<br /> phần thân giày được làm từ các loại da cao cấp hoặc vải tổng hợp. Trong tiếng Mỹ, sneaker đồng nghĩa với rất nhiều danh từ khác như basketball shoe, gym shoe hay rubber – soled shoe,….</p>
            </div>
        </div>
        <div class="card-body">
            <div class="img-hide">
                <img src="~/Album/BoCuc/flash-sale-0.jpg" style="width:100%" />
            </div>
            <div class="active-font">
                <p class="active-font-p">
                    Quà tặng đặc biệt dành cho Khách hàng

                </p>
                <p class="active-font-ppp">
                    16 Tháng Tư, 2019
                </p>
                <p class="active-font-pp"> Xin cảm ơn Quý khách hàng đang luôn tin tưởng và đồng hành cùng Myshoes.vn trong nhiều năm qua. Để tri ân khách hàng trong tháng 9 này Myshoes.vn có chương trình tặng quà đặc biệt ạ. Từ ngày 23-26/..</p>
            </div>
        </div>
        <div class="card-body">
            <div class="img-hide">
                <img src="~/Album/BoCuc/ok.jpg" style="width:100%" />
            </div>
            <div class="active-font">
                <p class="active-font-p">
                    21+ cách phối đồ với giày Converse dành cho nam nữ vừa đẹp vừa chất 2022
                </p>
                <p class="active-font-ppp">
                    16 Tháng Tư, 2019
                </p>
                <p class="active-font-pp">Những chiếc áo hoodie với kích thước thoải mái vô cùng phù hợp với các anh em còn thiếu tự tin về hình thể của mình. Chúng sẽ là trợ thủ đắc lực giúp bạn che bớt khuyết điểm như quá mập hay quá gầy. Khi phối cùng quần jeans và giày Converse, bạn sẽ có vẻ ngoài năng động, trẻ trung phù hợp với mọi hoạt động trong ngày.</p>
            </div>
        </div>
        <div class="Content-right-1">
            <h3 class="Content-right-h3"> Liên Hệ Với Chúng Tôi : </h3>
        </div>
        <div class="Content-right-2">
            <p class="Content-right-p"> Fanpage: https://www.facebook.com/DonggVannCongg </p>
            <p class="Content-right-p"> Instagram: https://www.instagram.com/12th24.2002/ </p>
            <p class="Content-right-p"> Shopee: https://shopee.vn/DotieShoes.studio</p>
        </div>
        <br>
    </div>
    <div class="Content-left">
        <div class="Content-left-font">
            <h3>Danh Mục Page</h3>
        </div>
        <div class="Content-left-font-1">
            <p>Tìm kiếm</p>
        </div>
        <div class="Content-left-font-1">
            <p>Giới thiệu</p>
        </div>
        <div class="Content-left-font-1">
            <p> Chính sách đổi trả</p>
        </div>
        <div class="Content-left-font-1">
            <p>Chính sách bảo mật</p>
        </div>
        <div class="Content-left-font-1">
            <p>Điều khoản dịch vụ</p>
        </div>
        <div class="Content-left-img">
            <img src="~/Album/Nike/what-is-the-nike-affiliate-programme-nike-help.jpg" style="width: 270px ; height: 155px">
        </div>
    </div>
</div>

