@model mp3.mvc.Models.UserModels.LoginForm
@{
    ViewData["Title"] = "Home Page";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/logo.png" style="max-width:60px;" id="icon" alt="User Icon" />
        </div>
        <h4>Login</h4>
        <!-- Login Form -->
        <form method="post" asp-action="login">
            <div class="mb-3 mx-3 fadeIn first ">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username or email">
            </div>
            <div class="mb-3 mx-3 fadeIn second">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <br/>
            <a class="underlineHover" href="#">Register</a>
        </div>

    </div>
</div>