@model mp3.mvc.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/logo.png" style="max-width:60px;" id="icon" alt="User Icon" />
        </div>
        <h4>Đăng ký</h4>
        <!-- Register Form -->
        <form method="post" asp-action="register">
            <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />
            <div class="mb-1 mx-3 fadeIn first">
                <input type="text" name="username" class="form-control"  aria-describedby="emailHelp" placeholder="Tên người dùng">
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="mb-1 mx-3 fadeIn first">
                <input type="text" name="displayName" class="form-control" aria-describedby="emailHelp" placeholder="Tên hiển thị">
                <span asp-validation-for="displayName" class="text-danger"></span>
            </div>
            <div class="mb-1 mx-3 fadeIn first">
                <select class="form-select custom-select" name="gender" aria-label="Default select example">
                    <option selected value="0">Nam</option>
                    <option value="1">Nữ</option>
                    <option value="2">Khác</option>
                </select>
            </div>
            
            <div class="mb-1 mx-3 fadeIn second">
                <input type="date" name="dob" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="mb-1 mx-3 fadeIn second">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="mb-1 mx-3 fadeIn second">
                <input type="password" name="repeatedPassword" class="form-control"  placeholder="Nhập lại mật khẩu">
                <span asp-validation-for="repeatedPassword" class="text-danger"></span>
            </div>
            <div class="mb-1 mx-3 fadeIn second">
                <input type="text" name="address" class="form-control" placeholder="Địa chỉ">
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <input type="submit" class="fadeIn fourth" value="Đăng ký">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <p class="text-dark" style="font-size:12px;">Bạn đã có tài khoản? </p>
            <a class="underlineHover" asp-action="login"> Đăng nhập</a>
        </div>

    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
