@using System.Security.Claims;

<header>
    <nav class="navbar navbar-expand-lg navbar-light color-common">
        <div class="container-fluid mx-5">
            <a class="navbar-brand text-light" href="/home">
                <span>PoplyMusic</span>
                <img width="20" height="20" fill="currentColor" src="~/images/logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
                    <li class="nav-item hover-text">
                        <a class="nav-link text-light @ViewData["HomePage"]" href="/home">Trang chủ</a>
                    </li>

                    <li class="nav-item hover-text">
                        <a class="nav-link text-light @ViewData["ExplorePage"]" href="/home/search">Khám phá</a>
                    </li>
@*                     @if (isAuthen)
                    { *@
                        <li class="nav-item hover-text">

                            <a class="nav-link text-light @ViewData["CollectionPage"]" href="/media/collection" tabindex="-1">Bộ sưu tập</a>
                        </li>
                    }
@*                     @if (isAuthen && isAdminRole)
                    { *@
                        <li class="nav-item dropdown hover-text">
                            <a class="nav-link dropdown-toggle text-light @ViewData["ManagePage"]"
                               href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Quản trị
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/user/manage">Người dùng</a></li>
                                <li><a class="dropdown-item" href="/media/manage">Bài hát</a></li>
                                <li><a class="dropdown-item" href="/author">Ca sĩ</a></li>
                                <li><a class="dropdown-item" href="/category">Thể loại</a></li>
                            </ul>
                        </li>
                    }

                </ul>
                <form class="d-flex hover-text" asp-controller="home" asp-action="searchAction" method="post">
                    <input name="searchText" class="form-control me-2 mt-0" type="search" placeholder="Tên bài hát, ca sĩ,..." aria-label="Search">
                    <button class="btn search-btn text-light" href="#" type="submit">Tìm</button>
                </form>
@*                 @{
                    if (isAuthen)
                    { *@
                        <div class="d-flex justify-content-center dropdown" style="padding-left: 100px;">
                            <img class="avatar hover-text bg-info rounded-circle mx-1" id="navbarDropdown" aria-expanded="false"
                                 data-bs-toggle="dropdown" style="max-width:40px; max-height:40px; object-fit:contain" />
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/user/getDetailProfile?id=">Thông tin tài khoản</a></li>
                                <li><a class="dropdown-item" href="/media/history">Lịch sử nghe</a></li>
                                <li><a class="dropdown-item" href="/user/setlanguage">Đổi ngôn ngữ</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/user/logout">Đăng xuất</a></li>
                            </ul>
                        </div>
@*                         if (isAdminRole)
                        { *@
                            <a class="nav-link text-light hover-text" href="/media/add">Tải lên</a>
@*                         }
                    }
                    else
                    { *@
                        <a class="text-light mx-1" href="/user/login">Đăng nhập</a>
@*                     }
                } *@
            </div>
        </div>
    </nav>
</header>