@{
    var name = Model.Name == "anonymous" ? Model.Name : "Ẩn danh";
}
<div class="d-flex" style="">
    <a href="/author/getdetail?id=@Model.Id">
        <img src="@Model.AvatarUrl" style="border-radius:4px; height: 40px; width: 40px; object-fit:contain; overflow: hidden" class="card-img-top" alt="Ảnh đại diện">
    </a>
    <p class="card-bodys text-center">
        @name
    </p>
</div>