@model List<mp3.mvc.Infrastructure.Entities.Media>;

@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

<h4>Trending Music on MineMusic</h4>
<partial name="./Common/Media/_SlidesAutoPlayCarouselPartial" model="Model" />

<h4>Trending Music on MineMusic</h4>
<partial name="./Common/Media/_SlidesOnlyCarouselPartial" model="Model" />

<h4>Trending Music on MineMusic</h4>
<partial name="./Common/Media/_SlidesWithControlCarouselPartial" model="Model" />

<h4>Trending Music on MineMusic</h4>
<partial name="./Common/Media/_SlidesWithIndicatorsCarouselPartial" model="Model" />

