@model List<mp3.mvc.Infrastructure.Entities.Media>;

@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

<partial name="./Common/Media/_SlidesWithControlCarouselPartial" model="Model" />