@{
    ViewData["Title"] = "Trang chủ";
    ViewData["HomePage"] = "text-dark";
    var newestList = ViewData["NewestList"];
    var trendingList = ViewData["TrendingList"];
}
<h3>Những bài hát thịnh hành nhất</h3>
<partial name="./Common/Media/Carousel/_SlidesWithControlPartial" model="trendingList" />

<h3 style="margin-top: 10px;">Top bài hát được yêu thích nhất</h3>
<partial name="./Common/Media/Carousel/_SlidesWithControlPartial" model="newestList" />