@{
    ViewData["Title"] = "Giới thiệu";
    ViewData["HomePage"] = "text-dark";
    ViewData["SelectHome"] = "active";
}

<div class="col-10 right-div">
    <div class="hDOKFy">
        <section class="hqSvNR">
            <h1 class="krvPJn">Giới thiệu về Chúng tôi</h1>

            <div class="dBuzsp">
                <div class="htjhqT">
                    <p>Với Poply Music, bạn có thể dễ dàng tìm nhạc hoặc podcast thích hợp cho từng khoảnh khắc – trên điện thoại, máy tính, máy tính bảng và các thiết bị khác.</p>
                    <p>Có hàng triệu bản nhạc và tập nội dung trên Poply. Vì vậy, dù đang lái xe, tập thể dục, dự tiệc hay thư giãn, bạn luôn có thể dễ dàng chọn được nhạc hoặc podcast phù hợp. Chọn nội dung bạn muốn nghe hoặc tận hưởng điều ngạc nhiên từ Poply.</p>
                    <p>Bạn cũng có thể duyệt xem các bộ sưu tập của bạn bè, nghệ sĩ và người nổi tiếng hoặc tạo đài phát radio và cứ thế thưởng thức.</p>
                    <p>Hãy để cuộc sống của bạn tràn ngập tiếng nhạc với Poply. Bạn có thể đăng ký hoặc nghe miễn phí.</p>

                    <h2 class="ewcuoh">Dịch vụ Khách hàng và Hỗ trợ</h2>
                    <ol role="list" class="Jtmar jefhVG" style="padding-left: 0">
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class=" jJmmXI">
                                    1.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Trang trợ giúp</a>.
                                    Hãy truy cập vào trang trợ giúp của chúng tôi để tìm câu trả lời cho các thắc mắc của bạn và tìm hiểu cách khai thác tối đa Spotify cũng như âm nhạc của bạn.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    2.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Cộng đồng</a>.
                                    Nhận hỗ trợ nhanh chóng từ những người dùng Poply chuyên nghiệp. Nếu chưa có câu trả lời cho câu hỏi của bạn, hãy đăng lên và sẽ có người nhanh chóng trả lời bạn. Bạn cũng có thể đề xuất và bình chọn cho các ý tưởng mới cho Poply hoặc đơn giản là thảo luận về âm nhạc với các fan hâm mộ khác.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    3.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Liên hệ với chúng tôi</a>.
                                    Hãy liên hệ với bộ phận Hỗ trợ khách hàng nếu bạn không tìm thấy giải pháp trên trang hỗ trợ hoặc Cộng đồng của chúng tôi.
                                </span>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="bSPeJO">
                    <h2 style="    margin: 0;">
                        Trụ sở Poply Music
                    </h2>
                </div>
            </div>

        </section>
    </div>
</div>