@{
    ViewBag.Title = "List Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listMusic = ViewData["ListMusic"];
}
<title> Mine Music - List Music</title>
<head>
    <link rel="stylesheet" href="~/css/explorer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ListMusic.css" asp-append-version="true" />
</head>

<div class="col-10 right-div">
    <div class="container-fluid">
        <!-- Header Section -->
        <div class="header">

            <div class="header-square">
                <p>Top Bài Hát Việt Nam</p>
            </div>

            <div class="header-info">
                <h1>Top Bài Hát Việt Nam</h1>
                <h2>Bài hát hàng đầu tại Việt Nam</h2>
                <p>Thông tin cập nhật hàng tuần về những bản nhạc được nghe nhiều nhất hiện nay tại Việt Nam.</p>
                <p class="spotify">Spotify • 23,615 lượt lưu • khoảng 3 giờ • 4 bản nhạc mới</p>
            </div>
        </div>

        <!-- Playlist Section -->
        <div class="playlist">
            <div class="table-header">
                <div class="col-title"># Tiêu đề</div>
                <div class="col-playcount">Lượt phát</div>
                <div class="col-album">Album</div>
                <div class="col-time"><i class="far fa-clock"></i></div>
            </div>

            <!-- Songs -->

            <partial name="./Common/Media/Carousel/_ListMusic" model="listMusic" />

            <!-- Repeat the song div for more songs... -->
        </div>
    </div>
</div>