@{
    ViewData["Title"] = "Podcasts";
    ViewData["HomePage"] = "text-dark";
    var newestList = ViewData["NewestList"];
    var trendingList = ViewData["TrendingList"];
}

<title> Mine Music - List Music</title>
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>

<!-- Khối phải (chiếm 8 cột) -->
<div class="col-10 right-div">

    <div class="content-right">
        <div class="right-music">
            <a href="/Home/Index">Tất cả</a>
        </div>
        <div class="right-music">
            <a href="/Home/MusicTab">Nhạc</a>
        </div>
        <div class="right-all allin">
            <a href="/Home/Podcasts" style="color:black">Podcasts</a>
        </div>
    </div>


    <!-- Đề xuất cho bạn -->
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="mb-0">Đề xuất cho bạn</h4>
        <div class="show-all">
            <a class="show-all" href="/Home/ListMusic">Hiển tất cả</a>
        </div>
    </div>
    <div class="row favorite-songs">

        <partial name="./Common/Media/Carousel/_SlidesWithControlPartial" model="trendingList" />

    </div>

</div>