@{
    ViewData["Title"] = "Chính sách bảo mật";
    ViewData["SelectHome"] = "active";
}

<div class="col-10 right-div">
    <div class="hDOKFy">
        <section class="hqSvNR">
            <h1 class="krvPJn">Chính sách bảo mật của Poply Music</h1>

            <div class="dBuzsp">
                <div class="htjhqT">
                    <p>Quyền riêng tư của bạn rất quan trọng đối với chúng tôi. Chính sách quyền riêng tư này giải thích cách chúng tôi thu thập, lưu trữ, sử dụng, tiết lộ và xử lý dữ liệu cá nhân của bạn khi bạn sử dụng  Poply Music và m.s Poply Music.com (gọi chung là “Trang web”), các ứng dụng dành cho thiết bị di động và máy tính để bàn của chúng tôi (“Ứng dụng”)</p>
                    <p>và tất cả các trang web, trình phát, tiện ích, công cụ, dữ liệu, phần mềm, API và các dịch vụ khác do Poply Music cung cấp (“Dịch vụ”). Chính sách quyền riêng tư này áp dụng cho bất kỳ Trang web, Ứng dụng hoặc Dịch vụ nào của Poply Music có tham chiếu đến Chính sách quyền riêng tư này, tức là bằng cách liên kết đến trang web, Ứng dụng hoặc Dịch vụ đó.</p>

                    <p>Chính sách bảo mật này giải thích những điều sau đây, trong số những điều khác:</p>
                    <ol role="list" class="Jtmar jefhVG" style="padding-left: 0">
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class=" jJmmXI">
                                    1.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Ai kiểm soát dữ liệu của bạn</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    2.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Cơ sở pháp lý để xử lý dữ liệu</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    3.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Dữ liệu cá nhân chúng tôi thu thập</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    4.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Dữ liệu cá nhân bạn cung cấp</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    5.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Dữ liệu cá nhân chúng tôi thu thập tự động</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    6.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Dữ liệu cá nhân chúng tôi thu thập từ bên thứ ba</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    7.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Chúng tôi sử dụng dữ liệu cá nhân của bạn như thế nào</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    8.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Chúng tôi chia sẻ dữ liệu cá nhân của bạn như thế nào</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    9.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Cookie và Công nghệ Tương tự</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    10.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Bảo mật thông tin</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    11.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Chuyển dữ liệu quốc tế</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    12.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Hoạt động của chúng tôi trên mạng xã hội</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    13.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Thông tin liên lạc</a>.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    14.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Những thay đổi đối với Chính sách bảo mật này</a>.
                                </span>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="bSPeJO">
                    @* <h2 style="    margin: 0;">
                        Trụ sở Poply Music
                    </h2> *@
                </div>
            </div>

        </section>
    </div>
</div>
