@{
    ViewData["Title"] = "Điều khoản sử dụng";
}

<div class="col-10 right-div">
    <div class="hDOKFy">
        <section class="hqSvNR">
            <h1 class="krvPJn">Điều khoản dịch vụ</h1>

            <div class="dBuzsp">
                <div class="htjhqT">
                    <p>Ngoài ra, vui lòng đảm bảo xem lại Chính sách quyền riêng tư và Chính sách cookie của chúng tôi để biết thêm thông tin về cách chúng tôi thu thập và sử dụng dữ liệu liên quan đến việc sử dụng và hiệu suất của Nền tảng, cũng như trách nhiệm của chúng tôi và quyền của bạn liên quan đến bất kỳ quá trình xử lý dữ liệu cá nhân nào của bạn.</p>

                    <p>Các Điều khoản sử dụng này bao gồm các phần sau:</p>
                    <ol role="list" class="Jtmar jefhVG" style="padding-left: 0">
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class=" jJmmXI">
                                    1.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Chấp nhận Điều khoản sử dụng</a>.
                                    .Về cơ bản, khi sử dụng Nền tảng, bạn chấp nhận Điều khoản sử dụng và Nguyên tắc cộng đồng của chúng tôi và đồng ý tuân thủ chúng.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    2.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Thay đổi về Điều khoản sử dụng</a>.
                                    . Phần này giải thích rằng các điều khoản sử dụng của chúng tôi có thể thay đổi theo thời gian.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    3.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Mô tả về Nền tảng</a>.
                                   Phần này cung cấp mô tả chung về Nền tảng, các tính năng và chức năng của nền tảng.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    4.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Tài khoản Mine Music</a>.
                                    của bạn Phần này giải thích trách nhiệm của bạn nếu bạn chọn đăng ký tài khoản Mine Music.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    5.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline"> Việc bạn sử dụng</a>.
                                    Nền tảng Phần này nêu rõ quyền sử dụng Nền tảng của bạn và các điều kiện áp dụng cho việc bạn sử dụng Nền tảng.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    6.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Nội dung</a>.
                                    của bạn Phần này đề cập đến quyền sở hữu Nội dung của bạn và bao gồm thỏa thuận không tải lên bất kỳ nội dung nào xâm phạm đến quyền của bất kỳ ai khác.
                                </span>
                            </span>
                        </li>
                        <li class="bxNXrj erwpNi kdBrsm">
                            <span class="encore-text-body-medium">
                                <span class="jJmmXI">
                                    7.
                                    <a href="#" style="font-weight: bold; color: rgb(29, 185, 84); text-decoration: underline">Báo cáo vi phạm</a>.
                                    Phần này đề cập đến các hướng dẫn của chúng tôi về cách thông báo cho chúng tôi về bất kỳ nội dung nào trên Mine Music mà bạn tin rằng vi phạm bản quyền của bạn hoặc bất kỳ quyền sở hữu trí tuệ nào khác, hoặc là bất hợp pháp, lạm dụng, phỉ báng hoặc trái với Điều khoản sử dụng hoặc Nguyên tắc cộng đồng của chúng tôi . Bạn có thể tìm thêm thông tin về báo cáo vi phạm bản quyền trên các trang Thông tin bản quyền của chúng tôi. Nó cũng đề cập đến Chính sách kiểm duyệt và thực thi của chúng tôi, trong đó bạn tìm hiểu về các trường hợp Mine Music có thể chặn hoặc xóa nội dung khỏi Nền tảng và những người dùng liên tục vi phạm quyền của bên thứ ba hoặc vi phạm Điều khoản sử dụng hoặc Nguyên tắc cộng đồng của chúng tôi có nguy cơ bị đình chỉ hoặc chấm dứt tài khoản Mine Music của họ.
                                </span>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="bSPeJO">
                    @* <h2 style="    margin: 0;">
                        Trụ sở Mine Music
                    </h2> *@
                </div>
            </div>

        </section>
    </div>
</div>
