@model App.Domain.Entities.Author
@{
    ViewData["Title"] = "Chỉnh sửa " + Model.Name;
}

<h3>
    Chỉnh sửa thông tin ca sĩ @Model.Name
</h3>

<form method="post" asp-action="update" asp-asp-controller="author">
    <input style="display: none;" name="Id" value="@Model.Id" />
    <table class="table">
        <tr>
            <td>
                Tên ca sĩ
            </td>
            <td>
                <input name="Name" type="text" value="@Model.Name"/>
            </td>
        </tr>
    </table>
    
    
    <div class="d-flex flex-row-reverse">
        <button style="width: 100px;" class="d-block rounded-3 btn btn-primary mx-1" type="submit">Lưu</button>
        <a style="width: 100px;" class="d-block rounded-3 btn btn-danger mx-1" href="/author/getDetail?id=@Model.Id">Hủy</a>
    </div>

</form>
