<div class="card" style="height: 332px; width: 240px">
    <a href="/media/play?id=@Model.Id">
        <img src="@Model.AvatarUrl" style="height: 234px;object-fit:contain;" class="card-img-top" alt="Bài Hát 1">
    </a>
    <div class="card-bodys text-center" style="padding-top: 10px">
        <a class="card-text" href="/Author/GetDetail?id=@Model.Id">@Model.Name</a>
    </div>
</div>
