@model App.Domain.Entities.Media

<div class="card" style="height: 332px; width: 240px">
    <a href="/media/play?id=@Model.Id">
        <partial class="formContent" name="./Common/Media/_musicAvatarPreviewPartial" model="@Model.MediaContent" />
    </a>
    <div class="card-bodys text-center" style="padding-top: 10px">
        <a class="card-text" href="/media/play?id=@Model.Id">@Model.Name - @Model.Author?.Name</a>
    </div>
</div>
