<div class="card card-container">
    <div class="card-content">
        <a href="/media/play?id=@Model.Id" class="btn btn-primary play-btn">Play</a>
        <partial name="./Common/Media/_musicAvatarPreviewPartial" model="@Model.MediaContent" />
    </div>
    <div class="card-body">
        <a class="card-title text-black" href="#">@Model.Name</a>
        <br />
        <a class="card-author" href="#">@Model.Author?.Name</a>
    </div>
</div>