<div class="col song-card">
    <div class="card" style=" width: 256px">
        <a href="/media/play?id=@Model.Id">
            <partial class="formContent" name="./Common/Media/_musicAvatarPreviewPartial" model="@Model.MediaContent" />
        </a>
        <div class="card-body">
            <a class="card-text" href="/Author/GetDetail?id=@Model.Author?.Id">@Model.Name - @Model.Author?.Name</a>
        </div>
    </div>
</div>