<div class="card card-container">
    <div class="card-content">
        <a href="#" class="btn btn-primary play-btn">Play</a>
        <img src="@Model.MediaContent[0].Value" class="card-img-top image-card" alt="...">
    </div>
    <div class="card-body">
        <a class="card-title text-black" href="#">@Model.Name</a>
        <br />
        <a class="card-author" href="#">@Model.Author?.Name</a>
    </div>
</div>