<div class="card card-container" style="overflow:hidden;">
    <div class="card-content">
        <a href="/media/play?id=@Model.Id" style="background-color: black; align-content:center;justify-content:center;" >
            <partial class="formContent" name="./Common/Media/_musicAvatarPreviewPartial" model="@Model.MediaContent" />
        </a>
        
    </div>
    <div class="card-body d-block" style="padding:10px; overflow:clip;">
        <a class="card-title text-black" style="overflow:clip;" href="#">@Model.Name</a>
        <br />
        <a class="card-author" href="/Author/GetDetail?id=@Model.Author?.Id">@Model.Author?.Name</a>
    </div>
</div>

<style>
    .btn-primary {
        color: #fff;
        background-color: transparent !important;
        border-color: transparent !important;
    }
</style>