@model App.Domain.Entities.Category
@{
    ViewData["Title"] = "Xóa thể loại - " + Model.Name;
    var roleClaim = User.Claims.FirstOrDefault(p => p.Type == "role");
    var isAdminRole = roleClaim != null && roleClaim.Value == "admin";
}

<h3>
    Xóa thể loại @Model.Name
</h3>

<form method="post" asp-action="DeleteConfirmation" asp-asp-controller="category">
    <input style="display: none;" name="Id" value="@Model.Id" />
    <table class="table">
        <tr>
            <td>
                Tên thể loại
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
    </table>
    
    
    <div class="d-flex flex-row-reverse">
        <button style="width: 100px;" class="d-block rounded-3 btn btn-primary mx-1" type="submit">Xác nhận</button>
        <a style="width: 100px;" class="d-block rounded-3 btn btn-danger mx-1" href="/category/getDetail?id=@Model.Id">Hủy</a>
    </div>

</form>
